/* rosewater = #F8C0C8; */
/* ivory = #EFE7D3; */
/* lilac = #D3BBDD; */
/* pewter = #ECE3F0; */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* rosewater = #F8C0C8; */
/* ivory = #EFE7D3; */
/* lilac = #D3BBDD; */
/* pewter = #ECE3F0; */


body{
  background-color: #ECE3F0;
}

.nav{
  display: flex;
  justify-content: space-evenly;
}

.navContainer {
  background-color: #d3bbdd;
}

.mapControl {
  /* justify-content: space-around; */
  text-align: center;
  
}

/* -------------------------------- */
main {
  text-align: center;
  padding: 1em;
  max-width: 680;
  margin: 0 auto;
  
}

main h1{
  background-color: #D3BBDD;
  color: floralwhite;
  
}

.skills {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2px;
}

.skills img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.mapContainer{
  background-color: #EFE7D3;    
  
}

.mapWindow{
  
  height: 31rem;
  width: 70rem;
  margin: auto;
  padding: 1px;
  
}

.tools{
  background-color: #F8C0C8 ;
}

